/* Limpar fomratações padrões*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: justify;
    background: #e6e6e6;
}

/* LAYOUT */

h1{
    color: #4e4e4e;
    font-size: 4em;
}

a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 400;
    padding: 8px 12px;
}

a:link, a:visited{
    color: white;
}

a:hover{
    color: #F7B600;
    background-color: white;
    border-radius: 5px;
}

#area-cabecalho{
    background-color: #F7B600;
    padding: 15px;
    text-align: center;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; */
}

#area-logo{
    padding: 10px;

}

#area-menu{
    padding: 10px;
}

#area-principal{
    /*background-color: white;*/
    width: 920px;
    margin: 10px auto;
    font-size: 1.1em;
}

#area-principal a{
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
}

#area-principal a:link, #area-principal a:visited{
    color: #F7B600;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 200;
}

#area-principal a:hover{
    color: white;
    background-color: #F7B600;
    border-radius: 5px;
}

#area-conteudo{
    /*background-color: white;*/
    width: 660px;
    float: left;
}

#area-destaque{
    /* background-color: white; */
    width: 240px;
    float: right;
}

#area-rodapé{
    background-color: lightgray;
    clear: both;
    text-align: center;
    font-size: 0.8em;
    padding: 15px;
    border-radius: 5px;
}

.branco{
    color: white;
}

.postagem{
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.postagem>h2{
    color: #F7B600;
    font-size: 2em;
    margin: 0;
    padding: 5px;
}



.postagem>img{
    width: 600px;
    margin: 10px auto;
    border: 2px solid #F7B600;
    border-radius: 9px;
    display: block;
}

.postagem>span{
    font-size: 0.9em;
    /* padding-left: 10px; */
    text-align: justify;
    display: inline-block;
    border-bottom: 1px solid lightgray;
    margin-left: 10px;
}

.destaque{
    background-color: white;
    padding: 10px;
    text-align: left;
    border-radius: 9px;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.destaque>h3{
    color: #4e4e4e;
    background-color: #e6e6e6;
    border-radius: 5px;
    margin-bottom: 5px;
}

.destaque>a{
    margin: 0px !important;
    margin-top: 0px !important;
    padding: 0px !important;
}

.destaque> a:hover{
    color: #F7B600 !important;
    background-color: white !important;
    text-decoration: underline !important;
}

.destaque> ul{
    color: #F7B600;
    text-decoration: none;
    list-style: none;
}

.destaque> img{
    display: block;
    margin: 2px 1px;
    width: 120px;
    border-radius: 15px;
}

